@font-face {
    font-family: 'Chinese Dragon';
    src: url('../assets/fonts/ChineseDragon-Regular.woff2') format('woff2'),
        url('../assets/fonts/ChineseDragon-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.site-footer {
    --black: #000000;
    --black-transparent30: #0000004d;
    --light-cyan: #c8e8e9;;
    --intense-cyan: #44daff;
    --medium-purple: #6900cc;
    --intense-purple: #3c0272;
    --light-pink: #ff91f6;
    --medium-pink: #ff6af3;
    --light-white : #dddddd;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
    background: linear-gradient(90deg, var(--intense-cyan), var(--medium-purple));
    box-shadow: 0 2px 8px var(--black-transparent30);
    margin-top: auto;
}

.site-footer__creator {
    font-size: 1.2rem;
    font-family: "Chinese Dragon";
    color: var(--light-white);
    font-weight: 100;
    text-shadow: 0 1px 3px var(--black);

}